@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.container{
  margin-top: -70px;
}
#head1{
  margin-top: 55px;
  font-family: Montserrat, sans-serif;
  color: black;
  letter-spacing: 2px;
}
.btn{
  background: linear-gradient(90deg, rgb(34, 49, 54), black);
  border: none;
  font-size: 18px;
  font-weight: 800;
  transition: all 0.3s ease;
}
.btn:hover{
  opacity: 0.9;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
#sub1{
  background: rgb(241, 34, 69);
}
#sub2{
  background: rgb(10, 155, 34);
}
#sub3{
  background: rgb(6, 118, 223);
}
