<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='./carousel'>BookApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" id="nav-link1" routerLink = '/home' >Add Book</a>
        <a class="nav-link" routerLink='/books' id="nav-link1">Your Books</a>
        <a class="nav-link" routerLink ='/pricing' id="nav-link1">Pricing</a>
        <a class="nav-link" routerLink ='/form' id="nav-link1">Form</a>
      </div>
    </div>
  </div>
</nav>
<div class="row justify-content-center">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>  
