<mat-nav-list class="container">
    <div class="logo py-4">
      <a routerLink="/home"><img src="./assets/gislenlogo.png" alt="Company Logo" /></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/personal-details"> <mat-icon>person</mat-icon> Personal Details </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/professional-details"> <mat-icon>folder</mat-icon> Professional Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/attachments"> <mat-icon>attach_file</mat-icon> Attachements </a>
  </mat-nav-list>