@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
form{
  font-family:Montserrat, sans-serif ;
  font-weight: 800;
  font-size: 1rem;
  margin-top: 50px;
}
.btn{
  background: linear-gradient(90deg, rgb(34, 49, 54), black);
  border: none;
  font-size: 18px;
  font-weight: 800;
  transition: all 0.3s ease;
}
.btn:hover{
  opacity: 0.9;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

